
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Search</h2>

@{if (Model != null)
    {
        <div class="all-gategory-product">
            <div class="row">
                <ul class="gategory-product">
                    <!-- SINGLE ITEM START -->
                    @foreach (var item in Model)
                    {
                        <li class="gategory-product-list col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a href="single-product.html"><img src="@item.Image" alt="product-image" /></a>
                                    <a href="single-product.html" class="new-mark-box">new</a>
                                    <div class="overlay-content">
                                        <ul>
                                            <li><a href="#" title="Quick view"><i class="fa fa-search"></i></a></li>
                                            <li><a href="@Url.Action("AddToCart", "Cart", new { productId = item.Id })" title="Quick view"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="#" title="Quick view"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#" title="Quick view"><i class="fa fa-heart-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="customar-comments-box">
                                        <div class="rating-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-empty"></i>
                                        </div>
                                        <div class="review-box">
                                            <span>1 Review(s)</span>
                                        </div>
                                    </div>
                                    <a href="@Url.Action("ChiTietSP", "Product", new { id = item.Id })">@item.Name</a>
                                    <div class="price-box">
                                        <span class="price">@Html.FormatValue(item.Price, "{0:#,###}") đ</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    <!-- SINGLE ITEM END -->
                </ul>
            </div>
        </div>
    }
    else
    {
        <p>Không có sản phẩm nào phù hợp với tìm kiếm của bạn.</p>
    }
}
